In [5]:
#Read the three files into python as dataframes
import pandas as pd
import numpy as nm
data1=pd.read_csv('file1.csv')
data2=pd.read_csv('file2.csv')
data3=pd.read_csv('file3.csv')

In [11]:
#Show the DataFrame's shape.
print(data1.shape)
print(data2.shape)
print(data3.shape)

(4008, 11)
(996, 11)
(7070, 11)

In [61]:
#Standardize header names.
cols=[]
for column in data1.columns:
    cols.append(column.lower())
cols
data1.columns=cols
data1
cols=[]
for column in data2.columns:
    cols.append(column.lower())
cols
data2.columns=cols
data2
cols=[]
for column in data3.columns:
    cols.append(column.lower())
cols
data3.columns=cols
data3

display(data1.head(0))
display(data2.head(0))
display(data3.head(0))

Empty DataFrame
Columns: [customer, st, gender, education, customer lifetime value, income, monthly premium auto, number of open complaints, policy type, vehicle class, total claim amount]
Index: []

Empty DataFrame
Columns: [customer, st, gender, education, customer lifetime value, income, monthly premium auto, number of open complaints, policy type, vehicle class, total claim amount]
Index: []

Empty DataFrame
Columns: [customer, state, gender, education, customer lifetime value, income, monthly premium auto, number of open complaints, policy type, vehicle class, total claim amount]
Index: []

In [53]:
# Rearrange the columns in the dataframe as needed
data2=data2[['customer','st','gender','education','customer lifetime value','income','monthly premium auto',
             'number of open complaints','policy type','vehicle class','total claim amount']]
data3=data3[['customer','state','gender','education','customer lifetime value','income','monthly premium auto',
             'number of open complaints','policy type','vehicle class','total claim amount']]
display(data1.head(0))
display(data2.head(0))
display(data3.head(0))

Empty DataFrame
Columns: [customer, st, gender, education, customer lifetime value, income, monthly premium auto, number of open complaints, policy type, vehicle class, total claim amount]
Index: []

Empty DataFrame
Columns: [customer, st, gender, education, customer lifetime value, income, monthly premium auto, number of open complaints, policy type, vehicle class, total claim amount]
Index: []

Empty DataFrame
Columns: [customer, state, gender, education, customer lifetime value, income, monthly premium auto, number of open complaints, policy type, vehicle class, total claim amount]
Index: []

In [62]:
data3=data3.rename(columns{'state':'st'})

SyntaxError: invalid syntax (<ipython-input-62-b8ba0baa61d4>, line 1)

In [56]:
# Concatenate the three dataframes

In [ ]:


# Concatenate the three dataframes

# Which columns are numerical?

# Which columns are categorical?

# Understand the meaning of all columns

# Perform the data cleaning operations mentioned so far in class

# Delete the column education and the number of open complaints from the dataframe.
# Correct the values in the column customer lifetime value. They are given as a percent, so multiply them by 100 and change dtype to numerical type.
# Check for duplicate rows in the data and remove if any.
# Filter out the data for customers who have an income of 0 or less.